{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Private Messaging plugin for Craft CMS
 *
 * PrivateMessagingWidget Widget Body
 *
 * @author    Blue Mantis
 * @copyright Copyright (c) 2019 Blue Mantis
 * @link      https://bluemantis.com/
 * @package   PrivateMessaging
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@bluemantis/privatemessaging/assetbundles/privatemessagingwidgetwidget/dist', true) ~ '/img/PrivateMessagingWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
